<!DOCTYPE html> 
<html> 
<head>
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<script src="/assets/js/notes.js"></script>
	<script src="/assets/js/vue.2.5.17.js"></script>
	<script src="/assets/js/vue.resource.1.5.1.js"></script>
</head>
<body> 

	<b>User</b><br>
	<p class="ps">
  		- Here user would like to see his information<br/>
  		- Exemple: <a href="https://www.bootdey.com/snippets/view/Complete-User-Profile-Page-for-Bootstrap" target="_blank">https://www.bootdey.com/snippets/view/Complete-User-Profile-Page-for-Bootstrap</a><br>
  	</p>
	<table>
		<tr>
			<td>ID</td>
			<td>{{ user.getId() }}</td>
		</tr>
		<tr>
			<td>Firstname</td>
			<td>{{ user.getFirstname() }}</td>
		</tr>
		<tr>
			<td>Lastname</td>
			<td>{{ user.getLastname() }}</td>
		</tr>
		<tr>
			<td>Username</td>
			<td>{{ user.getUsername() }}</td>
		</tr>
	</table>

	<br>

  	<b>Notes Vue.js</b>

  	<p class="ps">
  		- Here user would like to see a basic update action to give the abilities to edit his notes<br/>
  		- Exemple: <a href="https://bootsnipp.com/snippets/featured/bootstrap-snipp-for-datatable" target="_blank">https://bootsnipp.com/snippets/featured/bootstrap-snipp-for-datatable</a><br>
  		- Exemple: <a href="https://bootsnipp.com/snippets/featured/table-panel-with-pagination" target="_blank">https://bootsnipp.com/snippets/featured/table-panel-with-pagination</a>
  	</p>

  	<div id="notes"></div>

  	<p class="ps">* We integrated a basic VueJs app here. There no constraint on the tecnologie and feel free to another javascript framework if you are not confortable with <a href="https://vuejs.org" target="_blank">https://vuejs.org</a></p>

  	{% if user %}
	  	<a href="/logout">Logout</a>
	{% endif %}

	<a href="/">Home</a>

  	<script type="text/javascript">
  		Vue.http.options.emulateJSON = true;
		var notes = new Notes({{ user.getId() }},{{ notes|json_encode|raw }}, `{{ source("notes.vue") }}`);
	</script>
	
</body> 
</html> 
