<!DOCTYPE html> 

<html> 

<head>
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<script src="/assets/js/vue.resource.1.5.1.js"></script>
	<script src="/assets/js/vue.2.5.17.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body> 
 	<div class="container">

  		<div class="jumbotron jumbotron-fluid">
		  <div class="container">
		  	<button type="button" class="btn btn-outline-primary btn-sm">{% if user == null %}
			    <a href="/login" class="btn-lg active" role="button" aria-pressed="true">Login</a></button>
				{% else %}
					<a href="/dashboard">Dashboard</a>
				  	<a href="/logout">Logout</a>
				{% endif %}
		    
		    <h1 class="display-4">Welcome Page</h1>
		    
		    <p class="lead">
				This small project use Slim Framework version 3<br>
				<a href="https://www.slimframework.com/docs/v3/start/installation.html" target="_blank">https://www.slimframework.com/docs/v3/start/installation.html</a>
			</p>
			
			<h3 class="display-6">Global information</h3>
			
			<ul>
				<li>User interface sould be responsive</li>
				<li>All front-end library are allowed</li>
				<li>All user's password are 123456</li>
				<li>Hash with php password_hash()</li>
		  	</ul>
		  	
		  	<h4 class="display-6">Users</h4>
		  	
		  	<p class="ps">
		  	
		  	<ul>
			  	<li>Highlight the current user logged in (use twig dump() to get the templates variables).
			  	</li>
			  	<li>Here we would like to see a list of user on tree column and responsive.
			  	</li>
			  	<li>Exemple: <a href="https://getbootstrap.com/docs/4.2/examples/album/" target="_blank">https://getbootstrap.com/docs/4.2/examples/album/</a>
			  	</li>		  		
		  	</ul>
		  	</p>
		  </div>
		</div>

	  <div class="row">
	    {% for user in users %}
	    <div class="col-md-4">
	      
		  	<div class="card mb-4 shadow-sm	">
		  		
			  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
			  <title>Placeholder</title>
			  <rect fill="#55595c" width="100%" height="100%"></rect>
			  <text fill="#eceeef" dy=".3em" x="50%" y="50%">Thumbnail</text></svg>


			  <div class="card-body">
			    <h5 class="card-title">{{ user.getFirstname() }} {{ user.getLastname() }} </h5>
			    <strong>username: {{ user.getUsername() }}</strong>
			    
			    <p class="card-text">{{ user.getDescription()|slice(0,100) }}</p>
			    <div class="d-flex justify-content-between align-items-center">
	                <div class="btn-group">
	                  <button type="button" class="btn btn-sm btn-outline-primary">View</button>
	                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
	                </div>
	                <small class="text-muted">9 mins</small>
              	</div>
			  </div>
			</div>	
		
	    </div>
	    {% endfor %}
	  </div>
	</div>
	<!--
  	<ul>
		{% for user in users %}
	        <li>
	        	<b>{{ user.getFirstname() }} {{ user.getLastname() }} / username: {{ user.getUsername() }}</b><br>
	        	<small>{{ user.getDescription() }}</small>
	       	</li>
	    {% endfor %}
  	</ul>
	-->

	
</body> 
</html> 



